.modal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  transition: all 350ms ease-out;
  opacity: 0;
  z-index: -1;
  &.visible {
    z-index: 2;
    opacity: 1;
  }
  .header {
    display: flex;
    align-items: center;
    height: 66px;
    padding: 0 6px;
    border-bottom: 1px solid #999;
    // box-shadow: -1px 1px 2px 2px rgb(24 18 18 / 57%);
    span {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title {
      font-size: 20px;
      margin-left: 12px;
      .day {
        font-size: 14px;
        color: #999;
      }
      .label {
        
        font-size: 16px;
        color: #666;
      }
      .island {
        font-weight: bold;
      }
    }
  }
  .main {
    padding: 20px;
    height: calc(100% - 66px);
    max-height: calc(100% - 66px);
    overflow: auto;
    .label {
      font-size: 14px;
      color: #999;
    }
    .description {
      color: #333;
      font-size: 16px;
      margin: 4px 0 16px 0;
      text-align: justify;
    }
  }
}

#modal-location {
  .header {
    .title {
      font-weight: bold;
    }
  }
  .img-wrapper {
    width: 100%;
    height: 35%;
    background-color: #333;
    // aspect-ratio: 16/9;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info-wrapper {
    padding: 20px;
  }
  .main {
    padding: 0;
  }
}
#modal-info {

}
#modal-flights {
  .header {
    .title {
      font-weight: bold;
    }
  }
  
  .info-wrapper {
    padding: 20px;
  }
  .main {
    padding: 20px;
    #mapFlights {
      width: 100%;
      height: 35%;
      background-color: #333;
    }
    .flights-list {
      .flight {
        margin-bottom: 24px;
        .title {
          display: flex;
          align-items: center;
          font-size: 14px;
          .company {
            margin-left: auto;
            margin-right: 4px;
            text-transform: uppercase;
          }
        }
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .from, .to {
            flex: 1;
            .code {
              font-size: 20px;
              font-weight: bold;
            }
          }
          .to {
            text-align: right;
          }
          .location {
            font-size: 12px;
            margin-bottom: 4px;
          }
          .time {
            font-weight: bold;
          }
        }
        .date {
          font-size: 12px;
          font-weight: bold;
          color: #999;
          text-transform: uppercase;
        }
       
        .company {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 14px;
          font-weight: bold;
          span {
            transform: rotate(90deg);
            margin-top: -28px;
            font-size: 36px;
          }
          .id {
            font-size: 12px;
            text-align: center;
            margin-bottom: 16px;
          }
        }
      }
    }
    
  }
}