.modal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  transition: all 350ms ease-out;
  opacity: 0;
  z-index: -1;
}
.modal.visible {
  z-index: 2;
  opacity: 1;
}
.modal .header {
  display: flex;
  align-items: center;
  height: 66px;
  padding: 0 6px;
  border-bottom: 1px solid #999;
}
.modal .header span {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .header .title {
  font-size: 20px;
  margin-left: 12px;
}
.modal .header .title .day {
  font-size: 14px;
  color: #999;
}
.modal .header .title .label {
  font-size: 16px;
  color: #666;
}
.modal .header .title .island {
  font-weight: bold;
}
.modal .main {
  padding: 20px;
  height: calc(100% - 66px);
  max-height: calc(100% - 66px);
  overflow: auto;
}
.modal .main .label {
  font-size: 14px;
  color: #999;
}
.modal .main .description {
  color: #333;
  font-size: 16px;
  margin: 4px 0 16px 0;
  text-align: justify;
}

#modal-location .header .title {
  font-weight: bold;
}
#modal-location .img-wrapper {
  width: 100%;
  height: 35%;
  background-color: #333;
}
#modal-location .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#modal-location .info-wrapper {
  padding: 20px;
}
#modal-location .main {
  padding: 0;
}

#modal-flights .header .title {
  font-weight: bold;
}
#modal-flights .info-wrapper {
  padding: 20px;
}
#modal-flights .main {
  padding: 20px;
}
#modal-flights .main #mapFlights {
  width: 100%;
  height: 35%;
  background-color: #333;
}
#modal-flights .main .flights-list .flight {
  margin-bottom: 24px;
}
#modal-flights .main .flights-list .flight .title {
  display: flex;
  align-items: center;
  font-size: 14px;
}
#modal-flights .main .flights-list .flight .title .company {
  margin-left: auto;
  margin-right: 4px;
  text-transform: uppercase;
}
#modal-flights .main .flights-list .flight .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-flights .main .flights-list .flight .wrapper .from, #modal-flights .main .flights-list .flight .wrapper .to {
  flex: 1;
}
#modal-flights .main .flights-list .flight .wrapper .from .code, #modal-flights .main .flights-list .flight .wrapper .to .code {
  font-size: 20px;
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .wrapper .to {
  text-align: right;
}
#modal-flights .main .flights-list .flight .wrapper .location {
  font-size: 12px;
  margin-bottom: 4px;
}
#modal-flights .main .flights-list .flight .wrapper .time {
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .date {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}
#modal-flights .main .flights-list .flight .company {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .company span {
  transform: rotate(90deg);
  margin-top: -28px;
  font-size: 36px;
}
#modal-flights .main .flights-list .flight .company .id {
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}/*# sourceMappingURL=modal.css.map */