@import url("https://fonts.googleapis.com/css?family=Roboto:400");
html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin: 0;
  font-size: 5.653rem;
}

h2 {
  margin: 0;
  font-size: 3.998rem;
}

h3 {
  margin: 0;
  font-size: 2.827rem;
}

h4 {
  margin: 0;
  font-size: 1.999rem;
}

h5 {
  margin: 0;
  font-size: 1.414rem;
}

small, .text_small {
  font-size: 0.707rem;
}

h5 {
  margin: 0 0 1rem 0;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  transition: all 350ms ease-out;
  opacity: 0;
  z-index: -1;
}
.modal.visible {
  z-index: 2;
  opacity: 1;
}
.modal .header {
  display: flex;
  align-items: center;
  height: 66px;
  padding: 0 6px;
  border-bottom: 1px solid #999;
}
.modal .header span {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .header .title {
  font-size: 20px;
  margin-left: 12px;
}
.modal .header .title .day {
  font-size: 14px;
  color: #999;
}
.modal .header .title .label {
  font-size: 16px;
  color: #666;
}
.modal .header .title .island {
  font-weight: bold;
}
.modal .main {
  padding: 20px;
  height: calc(100% - 66px);
  max-height: calc(100% - 66px);
  overflow: auto;
}
.modal .main .label {
  font-size: 14px;
  color: #999;
}
.modal .main .description {
  color: #333;
  font-size: 16px;
  margin: 4px 0 16px 0;
  text-align: justify;
}

#modal-location .header .title {
  font-weight: bold;
}
#modal-location .img-wrapper {
  width: 100%;
  height: 35%;
  background-color: #333;
}
#modal-location .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#modal-location .info-wrapper {
  padding: 20px;
}
#modal-location .main {
  padding: 0;
}

#modal-flights .header .title {
  font-weight: bold;
}
#modal-flights .info-wrapper {
  padding: 20px;
}
#modal-flights .main {
  padding: 20px;
}
#modal-flights .main #mapFlights {
  width: 100%;
  height: 35%;
  background-color: #333;
}
#modal-flights .main .flights-list .flight {
  margin-bottom: 24px;
}
#modal-flights .main .flights-list .flight .title {
  display: flex;
  align-items: center;
  font-size: 14px;
}
#modal-flights .main .flights-list .flight .title .company {
  margin-left: auto;
  margin-right: 4px;
  text-transform: uppercase;
}
#modal-flights .main .flights-list .flight .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-flights .main .flights-list .flight .wrapper .from, #modal-flights .main .flights-list .flight .wrapper .to {
  flex: 1;
}
#modal-flights .main .flights-list .flight .wrapper .from .code, #modal-flights .main .flights-list .flight .wrapper .to .code {
  font-size: 20px;
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .wrapper .to {
  text-align: right;
}
#modal-flights .main .flights-list .flight .wrapper .location {
  font-size: 12px;
  margin-bottom: 4px;
}
#modal-flights .main .flights-list .flight .wrapper .time {
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .date {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}
#modal-flights .main .flights-list .flight .company {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}
#modal-flights .main .flights-list .flight .company span {
  transform: rotate(90deg);
  margin-top: -28px;
  font-size: 36px;
}
#modal-flights .main .flights-list .flight .company .id {
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: hsl(0deg, 67%, 44%);
  transition: all 0.3s linear;
  z-index: 2;
}

.show-sidebar {
  transform: translate(0);
}

.close-btn {
  position: relative;
  top: 24px;
  left: calc(100% - 48px - 24px);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #333;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
html *, body * {
  box-sizing: border-box;
}

span#menu {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: white;
  color: #333;
  box-shadow: 0px 0px 8px 0px rgba(168, 164, 164, 0.57);
  cursor: pointer;
}

#map {
  background-color: grey;
  width: 100%;
  height: 50%;
}

#changeDay {
  width: 80vw;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: -54px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  height: calc(50% + 25px);
  padding: 0 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid transparent;
  position: relative;
  top: -25px;
  background-color: white;
  box-shadow: 4px 9px 11px 6px rgba(24, 18, 18, 0.57);
}
.info__day {
  display: flex;
  margin: 16px 0 0 0;
  align-items: center;
}
.info__day .wrapper {
  margin: 0 auto;
  text-align: center;
}
.info__day .wrapper #island {
  margin: 0;
  font-weight: 800;
}
.info__day span#prev, .info__day span#next {
  font-size: 32px;
  border-radius: 32px;
  cursor: pointer;
}
.info__day > span:last-child {
  margin-left: 16px;
}
.info #info__planning .stage {
  cursor: pointer;
  display: flex;
  margin: 24px 0;
  align-items: center;
}
.info #info__planning .stage span {
  margin-right: 12px;
}
.info #info__planning .stage span:last-child {
  margin-left: auto;
  font-size: 16px;
}
.info #info__planning .stage .label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 24px;
}

button.btn-overlay {
  position: absolute;
  z-index: 1;
  background-color: white;
  color: #333;
  box-shadow: 0px 0px 8px 0px rgba(168, 164, 164, 0.57);
  border: none;
  border-radius: 24px;
  box-shadow: 0px 0px 6px -2px rgba(24, 18, 18, 0.57);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button.btn-overlay#info {
  top: 24px;
  right: 24px;
}
button.btn-overlay#flights {
  top: 86px;
  right: 24px;
}/*# sourceMappingURL=styles.css.map */