#map {
    width: 100%;
    height: 100vh;
}
#changeDay {
    width: 80vw;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: -54px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}